<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add/Edit Comments</h1>
    <div class="button button-clear" ng-click="rooms[rooms.selectedRoomID].commentsModal.hide()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Add Comment</div>
        <div class="item item-body">
          <form ng-submit="rooms[rooms.selectedRoomID].createComment()">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Comment on this item" ng-model="rooms[rooms.selectedRoomID].newComments[rooms[rooms.selectedRoomID].modalSection].text">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Add</button>
            </div>
          </form>
        </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Edit Comments</div>
        <div class="item item-body">
          <ion-list>
            <ion-item ng-repeat="comment in rooms[rooms.selectedRoomID].sections[rooms[rooms.selectedRoomID].modalSection].comments track by comment._id">
              <p ng-bind="comment.text"></p>
            </ion-item>
          </ion-list>
        </div>
    </div>
  </ion-content>
</ion-modal-view>
