<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add/Edit Pictures</h1>
    <div class="button button-clear" ng-click="rooms[rooms.selectedRoomID].imagesModal.hide()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Add Picture</div>
        <div class="item item-body">
          <form ng-submit="rooms[rooms.selectedRoomID].addNewImage()">
            <div class="list">
              <label class="item item-input">
                <input type="file" accept="image/*" custom-on-change="rooms[rooms.selectedRoomID].fileNameChanged">
              </label>
              <img ng-if="rooms[rooms.selectedRoomID].newImages[rooms[rooms.selectedRoomID].modalSection].src"
                   ng-src="{{rooms[rooms.selectedRoomID].newImages[rooms[rooms.selectedRoomID].modalSection].src}}"
                   style="width: 100%; height: auto;">
            </div>
          </form>
        </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Edit Pictures</div>
        <div class="item item-body">
          <ion-list>
            <ion-item ng-repeat="image in rooms[rooms.selectedRoomID][rooms[rooms.selectedRoomID].modalSection].images track by image._id">
              <!--<img img-fix-orientation="::image.src"
                   ng-src="{{::image.src}}"
                   class="image-thumbnail-modal">
              <ion-delete-button class="ion-trash-a"
                       ng-click="rooms[rooms.selectedRoomID].deleteImage(image._id)">
              </ion-delete-button>-->

              <a ng-href="{{image.link}}" target="_blank">
                <span ng-bind="image.fullPath"></span>
              </a>
            </ion-item>
          </ion-list>
        </div>
    </div>
  </ion-content>
</ion-modal-view>
