<form class="list">
  <h2>Size/Dimensions</h2>
  <!--<div class="item">
    <ion-radio ng-model="choice" ng-value="'A'">Flat Screen</ion-radio>
    <ion-radio ng-model="choice" ng-value="'B'">Analog</ion-radio>
  </div>-->
  <label class="item item-input">
    <span class="input-label">Size:</span>
    <input type="text" placeholder="Type size or dimensions" ng-model="i.choice1">
  </label>
  <!--<div class="item">
    <ion-radio ng-model="choice" ng-value="'A'">Freestanding</ion-radio>
    <ion-radio ng-model="choice" ng-value="'B'">Wall Mount</ion-radio>
  </div>
  <ion-checkbox ng-repeat="choice in section.sizeOptions"
                ng-if="choice.name"
                ng-model="choice.status">
    <span ng-bind="choice.name"></span>
  </ion-checkbox>-->
</form>
