<form class="list">
  <h2>Year/Make/Model</h2>
  <label class="item item-input">
    <span class="input-label">Year:</span>
    <input type="text" placeholder="Type here" ng-model="h.choice1">
  </label>
  <label class="item item-input">
    <span class="input-label">Make (or Brand):</span>
    <input type="text" placeholder="Type here" ng-model="h.choice2">
  </label>
  <label class="item item-input">
    <span class="input-label">Model:</span>
    <input type="text" placeholder="Type here" ng-model="h.choice3">
  </label>
</form>
