<form class="list">
  <h2>Condition - Clinical</h2>
  <label class="item item-input">
    <ion-checkbox ng-model="g.choice1" class="no-border">
      <span>Damaged</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice2" class="no-border">
      <span>Worn Finish</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice3" class="no-border">
      <span>Stained/marked</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice4" class="no-border">
      <span>Faded</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice5" class="no-border">
      <span>Delamination</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice6" class="no-border">
      <span>Mismatched</span>
    </ion-checkbox>
  </label>
  <label class="item item-input">
    <ion-checkbox ng-model="g.choice7" class="no-border">
      <span>Gummy/Sticky</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice8" class="no-border">
      <span>Blackened</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice9" class="no-border">
      <span>Chipped/Scratched/Dented</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice10" class="no-border">
      <span>Rust/corrosion</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice11" class="no-border">
        <span>Erosion</span>
      </ion-checkbox>
  </label>
  <label class="item item-input">
      <ion-checkbox ng-model="g.choice12" class="no-border">
        <span>Loose/Falling apart</span>
      </ion-checkbox>
      <ion-checkbox ng-model="g.choice13" class="no-border">
        <span>Hard</span>
      </ion-checkbox>
      <ion-checkbox ng-model="g.choice14" class="no-border">
        <span>Soft</span>
      </ion-checkbox>
      <ion-checkbox ng-model="g.choice15" class="no-border">
        <span>Tight</span>
      </ion-checkbox>
      <label class="item item-input no-border">
        <span class="input-label">Other:</span>
        <input type="text" placeholder="Type other" ng-model="g.choice16">
      </label>
  </label>
  <label class="item item-input">
    <ion-checkbox ng-model="g.choice17" class="no-border">
      <span>Loose/Stretched out</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice18" class="no-border">
      <span>Ripped/Torn/Frayed</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice19" class="no-border">
      <span>Watermarked</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice20" class="no-border">
      <span>Sagging</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice21" class="no-border">
      <span>Pilling</span>
    </ion-checkbox>
  </label>
  <label class="item item-input">
    <ion-checkbox ng-model="g.choice22" class="no-border">
      <span>Burned/melted</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice23" class="no-border">
      <span>Chemically altered</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice24" class="no-border">
      <span>Yellowed</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice25" class="no-border">
      <span>Tarnished</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice26" class="no-border">
      <span>Dirty</span>
    </ion-checkbox>
  </label>
  <label class="item item-input">
    Color:
    <div>
      <ion-checkbox ng-model="g.choice27" class="no-border">
        <span>White</span>
      </ion-checkbox>
      <ion-checkbox ng-model="g.choice28" class="no-border">
        <span>Black</span>
      </ion-checkbox>
    </div>
    <div>
      <ion-checkbox ng-model="g.choice29" class="no-border">
        <span>Almond</span>
      </ion-checkbox>
      <ion-checkbox ng-model="g.choice30" class="no-border">
        <span>Off White</span>
      </ion-checkbox>
    </div>
    <div>
      <ion-checkbox ng-model="g.choice31" class="no-border">
        <span>Stainless</span>
      </ion-checkbox>
      <ion-checkbox ng-model="g.choice32" class="no-border">
        <span>Slate</span>
      </ion-checkbox>
    </div>
    <div>
      <ion-checkbox ng-model="g.choice33" class="no-border">
        <span>Bronze</span>
      </ion-checkbox>
      <label class="item item-input no-border">
        <span class="input-label">Other:</span>
        <input type="text" placeholder="Type other" ng-model="g.choice34">
      </label>
    </div>
  </label>
  <label class="item item-input">
    <ion-checkbox ng-model="g.choice35" class="no-border">
      <span>Leaks</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice36" class="no-border">
      <span>No leaks</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice37" class="no-border">
      <span>Secured Tightly</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice38" class="no-border">
      <span>Flows well</span>
    </ion-checkbox>
    <ion-checkbox ng-model="g.choice39" class="no-border">
      <span>Low Flow/Water Running</span>
    </ion-checkbox>
  </label>
</form>
