<form class="list">
  <h2>Condition - Subjective</h2>
  <label class="item item-input">
    Merchandised:
    <ion-checkbox ng-model="u.choice1" class="no-border">
      <span>Low</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice2" class="no-border">
      <span>Midlevel</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice3" class="no-border">
      <span>High End</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice4" class="no-border">
      <span>Mixed</span>
    </ion-checkbox>
    <label class="item item-input no-border">
      <span class="input-label">Other:</span>
      <input type="text" placeholder="Type other" ng-model="u.choice5">
    </label>
  </label>
  <label class="item item-input">
    Coordinated Throughout:
    <ion-checkbox ng-model="u.choice6" class="no-border">
      <span>Low</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice7" class="no-border">
      <span>Midlevel</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice8" class="no-border">
      <span>High End</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice9" class="no-border">
      <span>Mixed</span>
    </ion-checkbox>
    <label class="item item-input no-border">
      <span class="input-label">Other:</span>
      <input type="text" placeholder="Type other" ng-model="u.choice10">
    </label>
  </label>
  <label class="item item-input">
    Visually Appealing:
    <ion-checkbox ng-model="u.choice11" class="no-border">
      <span>Low</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice12" class="no-border">
      <span>Midlevel</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice13" class="no-border">
      <span>High End</span>
    </ion-checkbox>
    <ion-checkbox ng-model="u.choice14" class="no-border">
      <span>Mixed</span>
    </ion-checkbox>
    <label class="item item-input no-border">
      <span class="input-label">Other:</span>
      <input type="text" placeholder="Type other" ng-model="u.choice15">
    </label>
  </label>
</form>
