<div ng-if="admin.selectedInspection && admin.fullReportReady"
     class="item">
  <div ng-repeat="(roomID, roomObject) in ::admin.fullInspection.data"
       class="list card no-margin"
       ng-if="::roomID !== 'Inventory'">
    <div class="item item-divider"
         ng-click="admin.hideRoom[roomID] = !admin.hideRoom[roomID]">
      <button>
        <i class="icon"
           ng-class="admin.hideRoom[roomID] ? 'ion-plus' : 'ion-minus'">
        </i>
      </button>
      <span ng-bind="::roomID"></span>
    </div>
    <div ng-if="!admin.hideRoom[roomID]"
         class="item">
      <div ng-repeat="(sectionID, sectionObject) in ::roomObject.data"
           class="list card no-margin">
        <div class="item item-divider"
             ng-click="admin.hideSection[roomID][sectionID] = !admin.hideSection[roomID][sectionID]">
          <button>
            <i class="icon"
               ng-class="admin.hideSection[roomID][sectionID] ? 'ion-plus' : 'ion-minus'">
            </i>
          </button>
          <span ng-bind="::admin.selectedTemplate.data[roomID].data[sectionID].Item"></span>
        </div>
        <div ng-if="!admin.hideSection[roomID][sectionID]">
          <div ng-if="::sectionObject.naChoice"
               class="item">
            N/A
          </div>
          <div ng-if="::sectionObject.typesConditions"
               class="item">
            <div class="list card no-margin">
              <div class="item item-divider"
                   ng-click="admin.showConditionDetails[roomID][sectionID] = !admin.showConditionDetails[roomID][sectionID]">
                <button>
                  <i class="icon"
                     ng-class="!admin.showConditionDetails[roomID][sectionID] ? 'ion-plus' : 'ion-minus'">
                  </i>
                </button>
                Type/Condition details
              </div>
              <div ng-if="::admin.showConditionDetails[roomID][sectionID]"
                   class="item">
                <div ng-repeat="(typeID, condition) in ::sectionObject.typesConditions track by typeID"
                 class="list card no-margin">
                  <div class="item item-divider">
                    {{::typeID}}
                  </div>
                  <div class="item">
                    <div class="list">
                      <div ng-repeat="(optionID, optionObject) in ::condition"
                           class="item"
                           ng-init="thisOption = admin.getOptionTemplateFromID(typeID, optionID)">
                        <span ng-bind="::thisOption.optionName"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="::sectionObject.hospitalityRating"
               class="item">
            Hospitality rating (1-10): {{sectionObject.hospitalityRating}}
          </div>
          <div ng-if="::sectionObject.inspectionWorkTrackingConditions.selection"
               class="item">
            <span ng-bind="::admin.inspectionWorkTrackingConditions.data[sectionObject.inspectionWorkTrackingConditions.selection].name"></span>
          </div>
          <div ng-if="::sectionObject.complyChoice"
               class="item">
            <span ng-bind="::sectionObject.complyChoice"></span>
          </div>
          <div ng-if="::sectionObject.comments"
               class="item">
            Has comments
          </div>
          <div ng-if="::sectionObject.images"
               class="item">
            Has images
          </div>
          <div ng-if="::sectionObject.videos"
               class="item">
            Has videos
          </div>
      </div>
    </div>
  </div>
</div>
