<ion-view title="Admin" id="admin">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <div class="item">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Unit/Property
            </div>
            <select ng-options="unit as unit.name for unit in admin.allUnits.data track by unit._id"
                    ng-model="admin.selectedUnit"
                    ng-change="admin.getInspectionStubs(admin.selectedUnit._id)">
            </select>
          </label>
        </div>
      </div>
      <div ng-if="admin.selectedUnit"
           class="item">
        <div ng-if="admin.inspectionStubs"
             class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Inspection
            </div>
            <select ng-options="inspection as inspection.name for inspection in admin.inspectionStubs track by inspection._id"
                    ng-model="admin.selectedInspection"
                    ng-change="admin.getVisitStubs(admin.selectedInspection._id)">
            </select>
          </label>
        </div>
      </div>
      <div ng-if="admin.selectedInspection">
        <a ng-click="admin.getReportInspection(admin.selectedInspection._id)"
           class="button button-balanced button-block">View all inspection data</a>
      </div>
      <div class="item item-divider"
           ng-if="admin.selectedInspection && !admin.fullReportReady">
        ...or view data per visit:
      </div>
      <div ng-if="admin.selectedInspection && !admin.fullReportReady"
           class="item">
        <div ng-if="admin.visitStubs && !admin.fullReportReady"
             class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Visit
            </div>
            <select ng-options="visit as visit.name for visit in admin.visitStubs track by visit._id"
                    ng-model="admin.selectedVisit"
                    ng-change="admin.getVisitData(admin.selectedVisit._id)">
            </select>
          </label>
        </div>
      </div>
      <div ng-if="admin.selectedVisit && admin.visitData.ready && !admin.fullReportReady"
           class="item">
        <pre>
        {{::admin.visitData.data}}
        </pre>
      </div>
      <!-- Note this will only show up if the report is selected and ready -->
      <div ng-include="'templates/admin-report-v1.html'"></div>
    </div>
  </ion-content>
</ion-view>
