<ion-view title="Entry / Hallway" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Carpentry</div>
            <div class="item item-body">
                <div id="entryHallway-markdown4" style="color:#000000;">
                    <ul>
                        <li>Doors/Sliders open and close properly</li>
                        <li>Check hinges, frame, dry rot, paint</li>
                        <li>Screen Door functioning, frame intact, no holes in screen, no excessive rust or corrosion</li>
                    </ul>
                </div>
                <form class="list">
                    <ion-checkbox>Matching</ion-checkbox>
                    <ion-checkbox>Functional</ion-checkbox>
                    <ion-checkbox>Dated</ion-checkbox>
                    <ion-checkbox>Chipped</ion-checkbox>
                    <ion-checkbox>Damaged</ion-checkbox>
                </form>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button36" class="button button-stable  button-block button-outline" ng-class="{active: section1 == 1}" ng-click="section1 = 1">Critical</button>
                            <button id="entryHallway-button37" class="button button-stable  button-block button-outline" ng-class="{active: section1 == 2}" ng-click="section1 = 2">Urgent</button>
                            <button id="entryHallway-button39" class="button button-stable  button-block button-outline" ng-class="{active: section1 == 3}" ng-click="section1 = 3">Serious</button>
                            <button id="entryHallway-button41" class="button button-stable  button-block button-outline" ng-class="{active: section1 == 4}" ng-click="section1 = 4">Immediate</button>
                            <button id="entryHallway-button42" class="button button-stable  button-block button-outline" ng-class="{active: section1 == 5}" ng-click="section1 = 5">Delayed</button>
                            <button id="entryHallway-button43" class="button button-stable  button-block button-outline" ng-class="{active: section1 == 6}" ng-click="section1 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button12" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section1')">Add/edit comments</button>
                    <button id="entryHallway-button13" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section1')">Add/edit sounds</button>
                    <button id="entryHallway-button14" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section1')">Add/edit pictures</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Electrical</div>
            <div class="item item-body">
                <div id="entryHallway-markdown5" style="color:#000000;">
                    <ul>
                        <li>All outlets working properly with GCFI circuit breakers installed</li>
                        <li>Mismatched, discolored, burn marks or stained, cracked</li>
                    </ul>
                </div>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button44" class="button button-stable  button-block button-outline" ng-class="{active: section2 == 1}" ng-click="section2 = 1">Critical</button>
                            <button id="entryHallway-button45" class="button button-stable  button-block button-outline" ng-class="{active: section2 == 2}" ng-click="section2 = 2">Urgent</button>
                            <button id="entryHallway-button46" class="button button-stable  button-block button-outline" ng-class="{active: section2 == 3}" ng-click="section2 = 3">Serious</button>
                            <button id="entryHallway-button47" class="button button-stable  button-block button-outline" ng-class="{active: section2 == 4}" ng-click="section2 = 4">Immediate</button>
                            <button id="entryHallway-button48" class="button button-stable  button-block button-outline" ng-class="{active: section2 == 5}" ng-click="section2 = 5">Delayed</button>
                            <button id="entryHallway-button49" class="button button-stable  button-block button-outline" ng-class="{active: section2 == 6}" ng-click="section2 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button15" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section2')">Add/edit comments</button>
                    <button id="entryHallway-button16" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section2')">Add/edit sounds</button>
                    <button id="entryHallway-button17" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section2')">Add/edit pictures</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Electrical</div>
            <div class="item item-body">
                <div id="entryHallway-markdown13" style="color:#000000;">
                    <ul>
                        <li>Surface-mounted lights and switches working properly
                        </li>
                        <li>Mismatched, discolored, burn marks or stained, cracked</li>
                    </ul>
                </div>
                <form class="list">
                    <ion-checkbox>Matching</ion-checkbox>
                    <ion-checkbox>Functional</ion-checkbox>
                    <ion-checkbox>Dated</ion-checkbox>
                    <ion-checkbox>Chipped</ion-checkbox>
                    <ion-checkbox>Damaged</ion-checkbox>
                </form>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button50" class="button button-stable  button-block button-outline" ng-class="{active: section3 == 1}" ng-click="section3 = 1">Critical</button>
                            <button id="entryHallway-button51" class="button button-stable  button-block button-outline" ng-class="{active: section3 == 2}" ng-click="section3 = 2">Urgent</button>
                            <button id="entryHallway-button52" class="button button-stable  button-block button-outline" ng-class="{active: section3 == 3}" ng-click="section3 = 3">Serious</button>
                            <button id="entryHallway-button53" class="button button-stable  button-block button-outline" ng-class="{active: section3 == 4}" ng-click="section3 = 4">Immediate</button>
                            <button id="entryHallway-button54" class="button button-stable  button-block button-outline" ng-class="{active: section3 == 5}" ng-click="section3 = 5">Delayed</button>
                            <button id="entryHallway-button55" class="button button-stable  button-block button-outline" ng-class="{active: section3 == 6}" ng-click="section3 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button33" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section3')">Add/edit comments</button>
                    <button id="entryHallway-button34" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section3')">Add/edit sounds</button>
                    <button id="entryHallway-button35" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section3')">Add/edit pictures</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Electrical</div>
            <div class="item item-body">
                <div id="entryHallway-markdown6" style="color:#000000;">
                    <ul>
                        <li>Smoke detectors working properly</li>
                    </ul>
                </div>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button56" class="button button-stable  button-block button-outline" ng-class="{active: section4 == 1}" ng-click="section4 = 1">Critical</button>
                            <button id="entryHallway-button57" class="button button-stable  button-block button-outline" ng-class="{active: section4 == 2}" ng-click="section4 = 2">Urgent</button>
                            <button id="entryHallway-button58" class="button button-stable  button-block button-outline" ng-class="{active: section4 == 3}" ng-click="section4 = 3">Serious</button>
                            <button id="entryHallway-button59" class="button button-stable  button-block button-outline" ng-class="{active: section4 == 4}" ng-click="section4 = 4">Immediate</button>
                            <button id="entryHallway-button60" class="button button-stable  button-block button-outline" ng-class="{active: section4 == 5}" ng-click="section4 = 5">Delayed</button>
                            <button id="entryHallway-button61" class="button button-stable  button-block button-outline" ng-class="{active: section4 == 6}" ng-click="section4 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button18" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section4')">Add/edit comments</button>
                    <button id="entryHallway-button19" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section4')">Add/edit sounds</button>
                    <button id="entryHallway-button20" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section4')">Add/edit pictures</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Flooring</div>
            <div class="item item-body">
                <div id="entryHallway-markdown12" style="color:#000000;">
                    <ul>
                        <li>Floor is smooth, even, and aligned properly</li>
                        <li>Mismatched, discolored, burn marks or stained, cracked
                        </li>
                    </ul>
                </div>
                <form class="list">
                    <ion-checkbox>Tile</ion-checkbox>
                    <ion-checkbox>Carpet</ion-checkbox>
                    <ion-checkbox>Vinyl</ion-checkbox>
                    <ion-checkbox>Laminate</ion-checkbox>
                </form>
                <form class="list">
                    <ion-checkbox>Matching</ion-checkbox>
                    <ion-checkbox>Functional</ion-checkbox>
                    <ion-checkbox>Dated</ion-checkbox>
                    <ion-checkbox>Chipped</ion-checkbox>
                    <ion-checkbox>Damaged</ion-checkbox>
                </form>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button62" class="button button-stable  button-block button-outline" ng-class="{active: section5 == 1}" ng-click="section5 = 1">Critical</button>
                            <button id="entryHallway-button63" class="button button-stable  button-block button-outline" ng-class="{active: section5 == 2}" ng-click="section5 = 2">Urgent</button>
                            <button id="entryHallway-button64" class="button button-stable  button-block button-outline" ng-class="{active: section5 == 3}" ng-click="section5 = 3">Serious</button>
                            <button id="entryHallway-button65" class="button button-stable  button-block button-outline" ng-class="{active: section5 == 4}" ng-click="section5 = 4">Immediate</button>
                            <button id="entryHallway-button66" class="button button-stable  button-block button-outline" ng-class="{active: section5 == 5}" ng-click="section5 = 5">Delayed</button>
                            <button id="entryHallway-button67" class="button button-stable  button-block button-outline" ng-class="{active: section5 == 6}" ng-click="section5 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button30" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section5')">Add/edit comments</button>
                    <button id="entryHallway-button31" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section5')">Add/edit sounds</button>
                    <button id="entryHallway-button32" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section5')">Add/edit pictures</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Misc.</div>
            <div class="item item-body">
                <div id="entryHallway-markdown10" style="color:#000000;">
                    <ul>
                        <li>Decorative/Artwork/Wall hanging</li>
                    </ul>
                </div>
                <form class="list">
                    <ion-checkbox>Matching</ion-checkbox>
                    <ion-checkbox>Functional</ion-checkbox>
                    <ion-checkbox>Dated</ion-checkbox>
                    <ion-checkbox>Chipped</ion-checkbox>
                    <ion-checkbox>Damaged</ion-checkbox>
                </form>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button68" class="button button-stable  button-block button-outline" ng-class="{active: section6 == 1}" ng-click="section6 = 1">Critical</button>
                            <button id="entryHallway-button69" class="button button-stable  button-block button-outline" ng-class="{active: section6 == 2}" ng-click="section6 = 2">Urgent</button>
                            <button id="entryHallway-button70" class="button button-stable  button-block button-outline" ng-class="{active: section6 == 3}" ng-click="section6 = 3">Serious</button>
                            <button id="entryHallway-button71" class="button button-stable  button-block button-outline" ng-class="{active: section6 == 4}" ng-click="section6 = 4">Immediate</button>
                            <button id="entryHallway-button72" class="button button-stable  button-block button-outline" ng-class="{active: section6 == 5}" ng-click="section6 = 5">Delayed</button>
                            <button id="entryHallway-button73" class="button button-stable  button-block button-outline" ng-class="{active: section6 == 6}" ng-click="section6 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button24" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section6')">Add/edit comments</button>
                    <button id="entryHallway-button25" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section6')">Add/edit sounds</button>
                    <button id="entryHallway-button26" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section6')">Add/edit pictures</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Paint/Drywall</div>
            <div class="item item-body">
                <div id="entryHallway-markdown14" style="color:#000000;">
                    <ul>
                        <li>Walls, ceiling &amp; paint look clean with no lumps or discolorations</li>
                    </ul>
                </div>
                <form class="list">
                    <ion-checkbox>Matching</ion-checkbox>
                    <ion-checkbox>Functional</ion-checkbox>
                    <ion-checkbox>Dated</ion-checkbox>
                    <ion-checkbox>Chipped</ion-checkbox>
                    <ion-checkbox>Damaged</ion-checkbox>
                </form>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button86" class="button button-stable  button-block button-outline" ng-class="{active: section7 == 1}" ng-click="section7 = 1">Critical</button>
                            <button id="entryHallway-button87" class="button button-stable  button-block button-outline" ng-class="{active: section7 == 2}" ng-click="section7 = 2">Urgent</button>
                            <button id="entryHallway-button88" class="button button-stable  button-block button-outline" ng-class="{active: section7 == 3}" ng-click="section7 = 3">Serious</button>
                            <button id="entryHallway-button89" class="button button-stable  button-block button-outline" ng-class="{active: section7 == 4}" ng-click="section7 = 4">Immediate</button>
                            <button id="entryHallway-button90" class="button button-stable  button-block button-outline" ng-class="{active: section7 == 5}" ng-click="section7 = 5">Delayed</button>
                            <button id="entryHallway-button91" class="button button-stable  button-block button-outline" ng-class="{active: section7 == 6}" ng-click="section7 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button92" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section7')">Add/edit comments</button>
                    <button id="entryHallway-button93" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section7')">Add/edit sounds</button>
                    <button id="entryHallway-button94" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section7')">Add/edit pictures</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Paint/Drywall</div>
            <div class="item item-body">
                <div id="entryHallway-markdown15" style="color:#000000;">
                    <ul>
                        <li>Hall closets are painted and in good order</li>
                    </ul>
                </div>
                <div class="list card">
                    <div class="item item-divider">Work Tracking</div>
                    <div class="item item-body">
                        <div class="button-bar">
                            <button id="entryHallway-button95" class="button button-stable  button-block button-outline" ng-class="{active: section8 == 1}" ng-click="section8 = 1">Critical</button>
                            <button id="entryHallway-button96" class="button button-stable  button-block button-outline" ng-class="{active: section8 == 2}" ng-click="section8 = 2">Urgent</button>
                            <button id="entryHallway-button97" class="button button-stable  button-block button-outline" ng-class="{active: section8 == 3}" ng-click="section8 = 3">Serious</button>
                            <button id="entryHallway-button98" class="button button-stable  button-block button-outline" ng-class="{active: section8 == 4}" ng-click="section8 = 4">Immediate</button>
                            <button id="entryHallway-button99" class="button button-stable  button-block button-outline" ng-class="{active: section8 == 5}" ng-click="section8 = 5">Delayed</button>
                            <button id="entryHallway-button100" class="button button-stable  button-block button-outline" ng-class="{active: section8 == 6}" ng-click="section8 = 6">Zen</button>
                        </div>
                        <form class="list">
                            <ion-checkbox>Work completed since last inspection</ion-checkbox>
                        </form>
                    </div>
                </div>
                <div class="button-bar">
                    <button id="entryHallway-button101" class="button button-positive  button-block" ng-click="entryHallway.openCommentsModal('section8')">Add/edit comments</button>
                    <button id="entryHallway-button102" class="button button-positive  button-block" ng-click="entryHallway.openSoundsModal('section8')">Add/edit sounds</button>
                    <button id="entryHallway-button103" class="button button-positive  button-block" ng-click="entryHallway.openImagesModal('section8')">Add/edit pictures</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>