<ion-view title="Inventory" id="inventory">
  <ion-content padding="true" class="has-header">
    Coming soon
    <!--<ion-item ng-repeat="item in inventory.items">
      <span ng-if="item.isLabel">
        {{::item.label}}
      </span>
      <span ng-if="!item.isLabel">
        <div ng-repeat="part in item.parts track by $index">
          <ion-checkbox ng-if="part.isCheckbox"
                      ng-model="part.checkboxValue"
                      class="no-border"
                      ng-style="{'no-right-padding': part.text}">
            <span>
              {{::part.text}}
            </span>
          </ion-checkbox>
          <label ng-if="part.text"
               class="item item-input no-border"
               ng-style="{'no-left-padding': part.isCheckbox}">
            <span ng-if="!part.isCheckbox"
                  class="input-label">
              {{::part.text}}
            </span>
            <input ng-if="part.isCount"
                   type="text"
                   placeholder="#"
                   ng-model="part.countValue">
            <input ng-if="!part.isCount && !part.isCheckbox"
                   type="text"
                   placeholder="Type here"
                   ng-model="part.textValue">
          </label>
        </div>
        <div>
          <label class="item item-input no-border"
                 ng-style="{'no-left-padding': part.isCheckbox}">
            <input type="text"
                   placeholder="Add comments here"
                   ng-model="item.commentValue">
          </label>
        </div>
      </span>
    </ion-item>-->
  </ion-content>
</ion-view>
