<ion-view title="" id="rooms">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="General" icon="ion-earth" href="#/rooms/general">
            <ion-nav-view name="tab13"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Entry / Hallway" icon="ion-paintbucket" href="#/rooms/entryHallway">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Lanai" icon="ion-android-sunny" href="#/rooms/lanai">
            <ion-nav-view name="tab12"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Kitchen" icon="ion-fork" href="#/rooms/kitchen">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Living Room" icon="ion-easel" href="#/rooms/livingRoom">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Dining Room" icon="ion-wineglass" href="#/rooms/diningRoom">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Master Bathroom" icon="ion-waterdrop" href="#/rooms/masterBathroom">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <!--<ion-tab title="Bathroom #2" icon="ion-waterdrop" href="#/rooms/bathroom2">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>-->
        <ion-tab title="Master Bedroom" icon="ion-home" href="#/rooms/masterBedroom">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <!--<ion-tab title="Bedroom #2" icon="ion-home" href="#/rooms/bedroom2">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>-->
        <ion-tab title="Inventory" icon="ion-hammer" href="#/rooms/inventory">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
      <!--
        <ion-tab title="Projects" icon="ion-hammer" href="#/rooms/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Maintenance" icon="ion-wrench" href="#/rooms/rooms1">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>-->
        <ion-tab title="Facts" icon="ion-clipboard" href="#/rooms/facts">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>