<ion-view title="" id="rooms">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab ng-if="tabs.selectedTemplate.data['GENERAL']"
                 title="General"
                 icon="ion-earth"
                 href="#/rooms/general">
            <ion-nav-view name="tab13"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['ENTRY/HALLWAY']"
                 title="Entry / Hallway"
                 icon="ion-paintbucket"
                 href="#/rooms/entryHallway">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['LANAI']"
                 title="Lanai"
                 icon="ion-android-sunny"
                 href="#/rooms/lanai">
            <ion-nav-view name="tab12"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['KITCHEN']"
                 title="Kitchen"
                 icon="ion-fork"
                 href="#/rooms/kitchen">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['LIVING ROOM']"
                 title="Living Room"
                 icon="ion-easel"
                 href="#/rooms/livingRoom">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['DINING ROOM']"
                 title="Dining Room"
                 icon="ion-wineglass"
                 href="#/rooms/diningRoom">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['MASTER BATHROOM']"
                 title="Master Bathroom"
                 icon="ion-waterdrop"
                 href="#/rooms/masterBathroom">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['BATHROOM #1']"
                 title="Bathroom #1"
                 icon="ion-waterdrop"
                 href="#/rooms/bathroom1">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <!--<ion-tab title="Bathroom #2" icon="ion-waterdrop" href="#/rooms/bathroom2">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>-->
        <ion-tab ng-if="tabs.selectedTemplate.data['MASTER BEDROOM']"
                 title="Master Bedroom"
                 icon="ion-home"
                 href="#/rooms/masterBedroom">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="tabs.selectedTemplate.data['BEDROOM #1']"
                 title="Bedroom #1"
                 icon="ion-home"
                 href="#/rooms/bedroom1">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <!--<ion-tab title="Bedroom #2" icon="ion-home" href="#/rooms/bedroom2">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>-->
        <ion-tab ng-if="tabs.selectedTemplate.data['Inventory']"
                 title="Inventory"
                 icon="ion-hammer"
                 href="#/rooms/inventory">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
      <!--
        <ion-tab title="Projects" icon="ion-hammer" href="#/rooms/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Maintenance" icon="ion-wrench" href="#/rooms/rooms1">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>-->
        <ion-tab ng-if="tabs.selectedTemplate.data['FACTS']"
                 title="Facts"
                 icon="ion-clipboard"
                 href="#/rooms/facts">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>